.left {
    text-align: left;
    float: left;
    width:50%
} 

.right {
    float: right;
    text-align: right;
    width: 50%; 
} 
body:after{
    content: url("pics/curtin.png"); 
    position: fixed;
    top: 3.5em;
    right: 3.5em;
}
